.sidebar {
    /* border: 1px solid black; */
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    padding-top: 2rem;
    padding-left: 2rem;
    color: rgb(188, 188, 188);
    background-color:rgb(34, 41, 57);
    z-index: 100;
}

.sidebar h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sidebar p {
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar__options {
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    padding-left: 1rem;
    gap: 1.5rem;
}

.sidebar a {
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sidebar a:hover {
    color: rgb(230, 230, 230);
    transform: scale(1.05);
}